@font-face {
    font-family: 'Eraser';
    src: url('../fonts/eraser/EraserRegular.ttf') format('truetype');
}

html {
    height: 100vh;
}
 
body {
    background-image: url(../img/tafel.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Eraser', sans-serif;
}


header {
    padding: 0px 20px;
    margin: 0;
}

.hero-section {
    display: flex;
    align-items: center;
    gap: 80px;
    border-bottom: 1px solid #a09fa4;
}

.headline {
    color: rgba(247, 131, 154, 0.849);
    font-size: 36px;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.input-group {
    display: flex;
    background-color: hsla(0, 0%, 25%, 0.726);
}

.input-group input {
    width: 800px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'Eraser', sans-serif;
}

.input-group button {
    width: 60px;
    border-radius: 10px;
    background-color: hsla(0, 0%, 34%, 0.726);
}

.icons {
    display: flex;
    gap: 24px;
    padding-left: 200px;
}

.icons a:hover {
    background-color: rgba(228, 42, 79, 0.534);
    padding: 10px;
    border-radius: 50%;
}

.fa-solid,
.fa-regular {
    color: rgba(247, 131, 154, 0.815);
    font-size: 24px;
}

.guide-signs {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    margin-left: 20px;
    gap: 10px;
}

.guide-signs a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 58px;
    border: 0.1px solid transparent;
    border-radius: 50%;
    background-color: #44454b67;
    text-decoration: none;
}

.guide-signs i {
    font-size: 20px;
}

.guide-signs a:hover {
    background-color: rgba(228, 42, 79, 0.534);
    padding: 10px;
}

.draft-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    margin-bottom: 200px;
}

.note-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

.note input {
    border: none;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    background-color: #f0f0ec;
    font-family: 'Eraser', sans-serif;
}

.note textarea {
    border: none;
    padding: 14px;
    font-family: 'Eraser', sans-serif;
    font-size: 18px;
}

button {
    border-radius: 0 0 15px 15px;
    border: none;
}

.note button i {
    width: 100%;
    width: 600px;
    border: none;
    background-color: #f0f0ec;
    border-radius: 4px;
    cursor: pointer;
    font-size: 48px;
    padding: 10px;
}

.note-headline::placeholder,
.note-text::placeholder {
    color: rgba(228, 42, 79, 0.534);
}

.new-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


@media(max-width: 1052px) {
  
    .input-group input {
        width: 600px;
    }

    .icons {
        padding-left: 60px;
    }
}

@media(max-width: 940px) {

    .hero-section {
        gap: 20px;
    }

    .input-group input {
        padding-left: 0;
        width: 200px;
    }

    .icons {
        padding-left: 10px;
    }
}

@media(max-width: 768px) {

    .draft-container {
        padding: 10px;
    }
  
    .note {
        width: 100%;
    } 

    .input-group input {
        width: 150px;
    }

    .icons {
        display: none;
    }

    .note input,
    .note textarea {
        width: 100%;
        font-size: 16px;
    }

    .note button i {
        font-size: 36px;
        width: 100%;
    }

    button {
        width: 100%;
    }
}

@media(max-width: 450px) {

    body {
        font-size: 14px;
    }

    .draft-container {
        padding: 5px;
    }

    .input-group input {
        width: 40px;
        padding-left: 0px;
    }

    .headline {
        font-size: 18px;
    }

    .guide-signs {
        margin-left: 0;
    }

    .note {
        width: 100%;
    }

    .note input,
    .note textarea {
        font-size: 16px;
    }

    .note button {
        font-size: 24px;
    }

    .note-headline::placeholder,
    .note-text::placeholder {
        font-size: 14px;
    }
}