@font-face {
    font-family: 'Eraser';
    src: url('../fonts/eraser/EraserRegular.ttf') format('truetype');
}

html, 
body {
    background-image: url(../img/tafel.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Eraser', sans-serif;
}

header {
    padding: 0px 20px;
    margin: 0;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.hero-section {
    display: flex;
    align-items: center;
    gap: 80px;
    border-bottom: 1px solid #a09fa4;
}

.headline {
    color: rgba(247, 131, 154, 0.849);
    font-size: 36px;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.input-group {
    display: flex;
    background-color: hsla(0, 0%, 25%, 0.726);
}

.input-group input {
    width: 800px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'Eraser', sans-serif;
}

.input-group button {
    width: 60px;
    border-radius: 10px;
    background-color: hsla(0, 0%, 34%, 0.726);
}

.icons {
    display: flex;
    gap: 24px;
    padding-left: 200px;
}

.icons a:hover {
    background-color: rgba(228, 42, 79, 0.534);
    padding: 10px;
    border-radius: 50%;
}

.fa-solid,
.fa-regular {
    color: rgba(247, 131, 154, 0.815);
    font-size: 24px;
}

.guide-signs {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    margin-left: 20px;
    gap: 10px;
}

.guide-signs a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 58px;
    border: 0.1px solid transparent;
    border-radius: 50%;
    background-color: #44454b67;
    text-decoration: none;
}

.guide-signs i {
    font-size: 20px;
}

.guide-signs a:hover {
    background-color: rgba(228, 42, 79, 0.534);
    padding: 10px;
}


#menu-toggle {
    display: none;
}

.burger-menu {
    position: relative;
    display: flex;
    align-items: center;
}

.burger-icon {
    font-size: 70px;
    cursor: pointer;
    display: none;
}

.menu {
    display: flex;
    position: absolute;
    top: 1;
    right: 0;
    background-color: transparent;
    border: 1px solid #ccc;
    width: 200px;
    flex-direction: column;
    transform: translateX(100px);
    transform: translateY(100px);
    transition: all 225ms ease-in-out;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu li {
    margin: 0;
    padding: 8px 16px;
}

.menu li a {
    text-decoration: none;
    color: #000;
}

.menu li a:hover {
    background-color: rgba(228, 42, 79, 0.534);
    padding: 10px;
}

.draft-container {
    margin-top: -200px;
    flex: 1;
    margin-bottom: 200px;
}

.note-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note {
    display: flex;
    flex-direction: column;
}

.note input {
    border: none;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    background-color: #f0f0ec;
    font-family: 'Eraser', sans-serif;
}

.note textarea {
    border: none;
    padding: 14px;
    font-family: 'Eraser', sans-serif;
    font-size: 18px;
}

button {
    border-radius: 0 0 15px 15px;
    border: none;
}

.note button i {
    width: 600px;
    border: none;
    background-color: #f0f0ec;
    border-radius: 4px;
    cursor: pointer;
    font-size: 48px;
    padding: 10px;
}

.note-headline::placeholder,
.note-text::placeholder {
    color: rgba(228, 42, 79, 0.534);
}

.new-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media(max-width: 2000px) {
    .burger-icon {
        display: block;
    }

    .menu {
        display: none;
    }

    #menu-toggle:checked + .burger-icon + .menu {
        display: flex;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        padding: 12px 16px;
        text-align: cenoter;
    }

    .menu li a {
        color: red;
        font-size: 18px;
    }
}

